{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}| details !
{% endblock %}

{% block body %}

<section>
    <h2> coucou c'est ici la suite des details des choses a faire dans ta vie</h2>
        <div>{{ wish.author  }}</div>
    <div>{{ wish.title  }}</div>
    <div>{{ wish.description  }}</div>
    <div>{{ wish.dateCreated | date('Y-m-d')  }}</div>
    <div>{{ wish.categorie.name }}</div>

</section>

{% endblock %}

