<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_pied') }}">Pied !</a></li>
        <li><a href="{{ path('main_info') }}"> About US </a></li>
       {#<li><a href="{{ path('wish_detail') }}"> details </a></li> #}
        <li><a href="{{ path('wish_list') }}"> Liste des truc a faire lolz </a></li>
    </ul>
</nav>