<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <title>{% block title %}Seau liste {% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">


</head>
<header>{{ include('tools/header.html.twig') }}</header>
<body>
{% for label, messages in app.flashes([]) %}
    {% for message in messages %}
        <div class="flash flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="container">

    {% block body %}

    {% endblock %}
</div>
</body>
<footer>{{ include('tools/footer.html.twig') }}</footer>
</html>
